.current-user {
    cursor: pointer;
}

.user-menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.user-menu ul {
    display: flex;
    flex-flow: column;
    text-align: left;
}

.close {
    cursor: pointer;
}