.current-user {
    cursor: pointer;
}

.user-menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
}

.user-menu ul {
    display: flex;
    flex-flow: column;
    text-align: left;
    position: relative;
    padding: 20px;

}

.close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}