.login-header {
    background-color: #F1F0F6;
    height: 80px;

}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav {
    line-height: 80px;
}

.nav ul {
    display: flex;
}

li {
    margin-right: 20px;
}